In [2]:
import pandas as pd

shark_data = pd.read_csv("Shark_Incidents.csv") #read in the csv file that contains the shark incident data

shark_data.drop(['Comment', 'Confirmed Source', 'WFL Case #'], axis=1, inplace=True) # dropping the columns "comment" "confirmed source" 
                                                                             # and "wfl case #"

shark_data.head()

,IncidentNum,Date,Time,County,Location,Mode,Injury,Depth,Species,Longitude,Latitude
0,1,10/08/1950,12:00,San Diego,Imperial Beach,Swimming,major,surface,White,-117.1466667,32.588333
1,2,05/27/1952,14:00,San Diego,Imperial Beach,Swimming,minor,surface,White,-117.2466667,32.588333
2,3,12/07/1952,14:00,Monterey,Lovers Point,Swimming,fatal,surface,White,-122.05,36.626667
3,4,02/06/1955,12:00,Monterey,Pacific Grove,Freediving,minor,surface,White,-122.15,36.626667
4,5,08/14/1956,16:30,San Luis Obispo,Pismo Beach,Swimming,major,surface,White,-120.6466667,35.138333