In [34]:
import pandas as pd

shark_data = pd.read_csv("Shark_Incidents.csv") # read in the csv file that contains the shark incident data

shark_data.drop(['Comment', 'Confirmed Source', 'WFL Case #', 'County', 'Location'], axis=1, inplace=True) # dropping unnecessary columns
shark_data.drop(shark_data.index[211:], inplace=True) # drops rows that contained notes from the data collector(s)

shark_data.to_csv('modded_shark_incidents.csv', index=False) # after removing columns/rows that aren't needed
                                                                # saved that data to a new csv file

In [40]:
useful_shark = pd.read_csv('modded_shark_incidents.csv') # read in the new and useful csv
useful_shark.head()

,IncidentNum,Date,Time,Mode,Injury,Depth,Species,Longitude,Latitude
0,1,10/08/1950,12:00,Swimming,major,surface,White,-117.1466667,32.588333
1,2,05/27/1952,14:00,Swimming,minor,surface,White,-117.2466667,32.588333
2,3,12/07/1952,14:00,Swimming,fatal,surface,White,-122.05,36.626667
3,4,02/06/1955,12:00,Freediving,minor,surface,White,-122.15,36.626667
4,5,08/14/1956,16:30,Swimming,major,surface,White,-120.6466667,35.138333